@page "/Index"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize]

@inject NotificationService NotificationService


<PageTitle>Index</PageTitle>

<h1>Proyecto Final</h1>

<marquee> Luis J. Paulino y Samir E. Castillo </marquee>

<RadzenButton Click="@ButtonClicked" Text="ola"></RadzenButton>

<h2>Test pull request</h2>

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity.Name</h1>
    </Authorized>
</AuthorizeView>

@code {
    void ButtonClicked()
    {
        //
    }
}